<div class="pad">
    <div class="row">
        <div class="col-1">
            <img class="img-size" src="{{phone.image_1}}" (click)="selectedImage=phone.image_1" alt="{{phone.name}}">
            <img class="img-size" src="{{phone.image_2}}" (click)="selectedImage=phone.image_2" alt="{{phone.name}}">
        </div>
        <div class="col-4">
            <img style="padding-left: 75px;" src="{{selectedImage}}" alt="{{phone.name}}">
            <div class="btn-grroup mx-auto" style="padding-left: 100px;"><br>
                <button class="btn btn-primary" (click)="snackBar()">Add to cart</button>&nbsp;&nbsp;
                <div id="snackbar">Added to cart</div>
                <button class="btn btn-success">Buy</button>
            </div>
        </div>
        <div class="col-sm-7">
            <h4>{{phone.name}}</h4>
            <h5>Rs. {{phone.price}}</h5>
            <div class="sectionBox">
                <strong>Highlights</strong>
                <hr>
                <ul *ngFor="let item of phone.highlight">
                    <li>{{item}}</li>
                </ul>
            </div>
            <div *ngFor="let item of objects; let i=index" class="sectionBox">
                <h5><strong>{{titles[i]}}</strong></h5>
                <hr>
                <div class="row" *ngFor="let d of keys[i]" style="padding: 5px;">
                    <div class="col-5">{{d}}</div>
                    <div class="col-7">{{phone[item][d]}}</div>
                </div>
                <!-- <table>
                    <tr *ngFor="let d of keys[i]">
                        <td style="width: 200px;">{{d}}</td>
                        <td>{{phone[item][d]}}</td>
                    </tr>
                </table> --><br>
            </div>
        </div>
    </div>
</div>