<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="deliveryHead">
                <h2 class="mb-0">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse"
                        data-target="#deliveryBody" aria-expanded="true" aria-controls="deliveryBody">
                        DELIVERY ADDRESS &nbsp;<i class="fa fa-chevron-down fa-lg"></i>
                    </button>
                </h2>
            </div>
            <div id="deliveryBody" class="collapse show" aria-labelledby="deliveryHead" data-parent="#accordionExample">
                <div class="card-body">
                    <form [formGroup]="deliveryForm" (ngSubmit)="deliveryFormSubmit()">
                        <div class="form-group">
                            <label for="deliveryAddress">Address</label>
                            <input type="text" class="form-control" id="deliveryAddress"
                                formControlName="deliveryAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="deliveryAddress2">Address 2</label>
                            <input type="text" class="form-control" id="deliveryAddress2"
                                formControlName="deliveryAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="deliveryCity">City</label>
                                <input type="text" class="form-control" id="deliveryCity" formArrayName="deliveryCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="deliveryState">State</label>
                                <input type="text" id="deliveryState" formControlName="deliveryState"
                                    class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="deliveryZip">Zip</label>
                                <input type="number" class="form-control" id="deliveryZip"
                                    formControlName="deliveryZip">
                            </div>
                        </div>
                        <button class="btn btn-primary" style="margin-top: 20px; margin-left:45%;"
                            [disabled]="!deliveryForm.valid">Deliver Here</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="cartHead">
                <h2 class="mb-0">
                    <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#cartBody"
                        aria-expanded="false" aria-controls="cartBody">
                        Selected Item &nbsp;<i class="fa fa-chevron-down fa-lg"></i>
                    </button>
                </h2>
            </div>
            <div id="cartBody" class="collapse" aria-labelledby="cartHead" data-parent="#accordionExample">
                <div class="card-body">
                    <app-cart></app-cart>
                </div>
            </div>
        </div>
    </div>
</div>